include README.rst LICENSE.rst CHANGES.rst tox.ini setup.cfg

recursive-include bme280 *.py

recursive-include examples *

recursive-include doc *
prune docs/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
